# TheCompanyLocator

Vamos ha ubicara el mejor distrito de Madrid para nuestra company

20 Designers
5 UI/UX Engineers
10 Frontend Developers
15 Data Engineers
5 Backend Developers
20 Account Managers
1 Maintenance guy that loves basketball
10 Executives
1 CEO/President.

In [79]:
import folium
from folium import Choropleth, Circle, Marker, Icon, Map
from folium.plugins import HeatMap, MarkerCluster
import requests
import json
from itertools import islice
#from dotenv import load_dotenv
import os
import pandas as pd
import time

1 - Designers like to go to design talks and share knowledge. There must be some nearby companies that also do design.
2 30% of the company staff have at least 1 child.
Developers like to be near successful tech startups that have raised at least 1 Million dollars.
Executives like Starbucks A LOT. Ensure there's a starbucks not too far.
Account managers need to travel a lot.
Everyone in the company is between 25 and 40, give them some place to go party.
The CEO is vegan.
If you want to make the maintenance guy happy, a basketball stadium must be around 10 Km.
The office dog—"Dobby" needs a hairdresser every month. Ensure there's one not too far away.

In [80]:
personal_num = {'Designers':20,
                'UI/UX Engineers':5,
                'Frontend Developers':10,
                'Data Engineers':15,
                'Backend Developers':5,
                'Account Managers':20,
                'Maintenance guy':1,
                'Executives':10,
                'CEO/President':1}

In [81]:
personal_code = {'Designers':1,
            'UI/UX Engineers':2,
            'Frontend Developers':3,
            'Data Engineers':4,
            'Backend Developers':5,
            'Account Managers':6,
            'Maintenance guy':7,
            'Executives':8,
            'CEO/President':9}

In [82]:
criteria  = {1:'Designers like to go to design talks and share knowledge. There must be some nearby companies that also do design',
                2:'30% of the company staff have at least 1 child',
                3:'Developers like to be near successful tech startups that have raised at least 1 Million dollars',
                4:'Executives like Starbucks A LOT. Ensure there s a starbucks not too far.',
                5:'Account managers need to travel a lot.',
                6:'Everyone in the company is between 25 and 40, give them some place to go party',
                7:'The CEO is vegan',
                8:'If you want to make the maintenance guy happy, a basketball stadium must be around 10 Km.',
                9:'The office dog—Dobby needs a hairdresser every month. Ensure there is one not too far away.'}

In [83]:
presonal_criteria = {'Designers':[1, 2, 6, 9],
                'UI/UX Engineers':[2, 6, 9],
                'Frontend Developers':[2, 3, 6, 9],
                'Data Engineers':[2, 6, 9],
                'Backend Developers':[2, 3, 6, 9],
                'Account Managers':[2, 5, 6, 9],
                'Maintenance guy':[2, 6, 8, 9],
                'Executives':[2, 4, 6, 9],
                'CEO/President':[2, 6, 7, 9]}

In [102]:
offices={'Centro': 'Calle de Preciados, 27, 28013, Madrid',
        'Arganzuela':'Calle del Plomo, 10, 28045, Madrid',
        'Retiro': "Calle de Menorca, 6, 28009 Madrid",
        'Salamanca': 'Calle Serrano, 52, 28001, Madrid',
        'Chamartín': 'Avenida de Alberto Alcocer, 43, 28036 Madrid',
        'Tetuán': 'Calle de Emilia, 12-18, 28029 Madrid',
        'Chamberí':'Avenida de Filipinas, 7, 28003, Madrid',
        'Fuencarral-El Pardo': 'Calle de Fermín Caballero, 27, 28034, Madrid', 
        'Moncloa': 'Calle de Altamirano, 29, 28008, Madrid',
        'Latina': 'Calle Sepúlveda, 21, 28011 Madrid', 
        'Carabanchel':'Calle Besolla, 10, 28025 Madrid', 
        'Usera': 'Calle Mirasierra, 23, 28026 Madrid',
        'Puente de Vallecas': 'Avenida de Buenos Aires, 7, 28018, Madrid', 
        'Moratalaz': 'Calle del Arroyo Belincoso, 36, 28030 Madrid',
        'Ciudad Lineal': 'Calle de Alcalá, 242, 28027, Madrid',
        'Hortaleza':'Gran Vía de Hortaleza, 74, 28043, Madrid',
        'Villaverde':'Calle de la Resina, 10, 28021, Madrid',
        'Villa de Vallecas':'Calle Juan Antonio Bardem, 6, 28031, Madrid',
        'Vicálvaro':'Avenida de la Gran Vía del Este, 20, 28032, Madrid',
        'San Blas': 'Calle de Arturo Soria, 14, 28027 Madrid',
        'Barajas': 'Avenida de Logroño, 223, 28042, Madrid'
       }

In [103]:
offices.keys()

dict_keys(['Centro', 'Arganzuela', 'Retiro', 'Salamanca', 'Chamartín', 'Tetuán', 'Chamberí', 'Fuencarral-El Pardo', 'Moncloa', 'Latina', 'Carabanchel', 'Usera', 'Puente de Vallecas', 'Moratalaz', 'Ciudad Lineal', 'Hortaleza', 'Villaverde', 'Villa de Vallecas', 'Vicálvaro', 'San Blas', 'Barajas'])

In [104]:
personal = pd.DataFrame([personal_num, personal_code, presonal_criteria])

In [105]:
personal

,Designers,UI/UX Engineers,Frontend Developers,Data Engineers,Backend Developers,Account Managers,Maintenance guy,Executives,CEO/President
0,20,5,10,15,5,20,1,10,1
1,1,2,3,4,5,6,7,8,9
2,"[1, 2, 6, 9]","[2, 6, 9]","[2, 3, 6, 9]","[2, 6, 9]","[2, 3, 6, 9]","[2, 5, 6, 9]","[2, 6, 8, 9]","[2, 4, 6, 9]","[2, 6, 7, 9]"

In [106]:
offices_df = pd.DataFrame.from_dict(offices, orient= 'index', columns = ['adress'])

In [107]:
def slicedic(d,l,h):
    return dict(islice(d.items(), l, h))

In [108]:
len(offices)

21

In [109]:
d1 = slicedic(offices, 0, 4)
d2 = slicedic(offices, 4, 8)
d3 = slicedic(offices, 8, 12)
d4 = slicedic(offices, 12,16)
d5 = slicedic(offices, 16,21)

In [248]:
s= len(d1) + len(d2) + len(d3) + len(d4) +len(d5)
s

21

In [110]:
df1 = pd.DataFrame.from_dict(d1, orient= 'index', columns = ['adress'])
df2 = pd.DataFrame.from_dict(d2, orient= 'index', columns = ['adress'])
df3 = pd.DataFrame.from_dict(d3, orient= 'index', columns = ['adress'])
df4 = pd.DataFrame.from_dict(d4, orient= 'index', columns = ['adress'])
df5 = pd.DataFrame.from_dict(d5, orient= 'index', columns = ['adress'])

In [203]:
def geocode(adress):
    data = requests.get(f"https://geocode.xyz/{adress}?json=1").json()
    time.sleep(3.45)
    if 'success' in data:
        return adress
    else:
        return data

In [209]:
def regeocode(adress):
    if type(adress) == str:
        return geocode(adress)
    else:
        return adress

In [210]:
df1['request'] = df1.adress.apply(geocode)
df1

,adress,request
Centro,"Calle de Preciados, 27, 28013, Madrid","Calle de Preciados, 27, 28013, Madrid"
Arganzuela,"Calle del Plomo, 10, 28045, Madrid","{'standard': {'stnumber': '10', 'addresst': 'C..."
Retiro,"Calle de Menorca, 6, 28009 Madrid","{'standard': {'addresst': 'Calle De Menorca', ..."
Salamanca,"Calle Serrano, 52, 28001, Madrid","{'standard': {'stnumber': '52', 'addresst': 'C..."

In [215]:
df2['request'] = df2.adress.apply(geocode)
df2

,adress,request
Chamartín,"Avenida de Alberto Alcocer, 43, 28036 Madrid","Avenida de Alberto Alcocer, 43, 28036 Madrid"
Tetuán,"Calle de Emilia, 12-18, 28029 Madrid","{'standard': {'stnumber': '19', 'addresst': 'C..."
Chamberí,"Avenida de Filipinas, 7, 28003, Madrid","{'standard': {'stnumber': '7', 'addresst': 'Av..."
Fuencarral-El Pardo,"Calle de Fermín Caballero, 27, 28034, Madrid","{'standard': {'addresst': 'Fermin Caballero', ..."

In [216]:
df3['request'] = df3.adress.apply(geocode)
df3

,adress,request
Moncloa,"Calle de Altamirano, 29, 28008, Madrid","Calle de Altamirano, 29, 28008, Madrid"
Latina,"Calle Sepúlveda, 21, 28011 Madrid","{'standard': {'addresst': 'Calle Sepúlveda', '..."
Carabanchel,"Calle Besolla, 10, 28025 Madrid","{'standard': {'stnumber': '9', 'addresst': 'Be..."
Usera,"Calle Mirasierra, 23, 28026 Madrid","{'standard': {'stnumber': '23', 'addresst': 'M..."

In [217]:
df4['request'] = df4.adress.apply(geocode)
df4

,adress,request
Puente de Vallecas,"Avenida de Buenos Aires, 7, 28018, Madrid","Avenida de Buenos Aires, 7, 28018, Madrid"
Moratalaz,"Calle del Arroyo Belincoso, 36, 28030 Madrid","{'standard': {'stnumber': '38', 'addresst': 'C..."
Ciudad Lineal,"Calle de Alcalá, 242, 28027, Madrid","{'standard': {'addresst': '28027', 'city': 'Ma..."
Hortaleza,"Gran Vía de Hortaleza, 74, 28043, Madrid","{'standard': {'stnumber': '74', 'addresst': 'G..."

In [218]:
df5['request'] = df5.adress.apply(geocode)
df5

,adress,request
Villaverde,"Calle de la Resina, 10, 28021, Madrid",{'standard': {'addresst': 'Calle De La Resina'...
Villa de Vallecas,"Calle Juan Antonio Bardem, 6, 28031, Madrid","{'standard': {'stnumber': '6', 'addresst': 'Ju..."
Vicálvaro,"Avenida de la Gran Vía del Este, 20, 28032, Ma...","{'standard': {'stnumber': '80', 'addresst': 'A..."
San Blas,"Calle de Arturo Soria, 14, 28027 Madrid","{'standard': {'stnumber': '14', 'addresst': 'C..."
Barajas,"Avenida de Logroño, 223, 28042, Madrid","{'standard': {'stnumber': '179', 'addresst': '..."

In [257]:
df_lim1 = df1.iloc[1:]
df_lim1 = df_lim1.append(df2.iloc[1:])
df_lim1 = df_lim1.append(df3.iloc[1:])
df_lim1 = df_lim1.append(df4.iloc[1:])
df_lim1 = df_lim1.append(df5)

df_lim1

,adress,request
Arganzuela,"Calle del Plomo, 10, 28045, Madrid","{'standard': {'stnumber': '10', 'addresst': 'C..."
Retiro,"Calle de Menorca, 6, 28009 Madrid","{'standard': {'addresst': 'Calle De Menorca', ..."
Salamanca,"Calle Serrano, 52, 28001, Madrid","{'standard': {'stnumber': '52', 'addresst': 'C..."
Tetuán,"Calle de Emilia, 12-18, 28029 Madrid","{'standard': {'stnumber': '19', 'addresst': 'C..."
Chamberí,"Avenida de Filipinas, 7, 28003, Madrid","{'standard': {'stnumber': '7', 'addresst': 'Av..."
Fuencarral-El Pardo,"Calle de Fermín Caballero, 27, 28034, Madrid","{'standard': {'addresst': 'Fermin Caballero', ..."
Latina,"Calle Sepúlveda, 21, 28011 Madrid","{'standard': {'addresst': 'Calle Sepúlveda', '..."
Carabanchel,"Calle Besolla, 10, 28025 Madrid","{'standard': {'stnumber': '9', 'addresst': 'Be..."
Usera,"Calle Mirasierra, 23, 28026 Madrid","{'standard': {'stnumber': '23', 'addresst': 'M..."
Moratalaz,"Calle del Arroyo Belincoso, 36, 28030 Madrid","{'standard': {'stnumber': '38', 'addresst': 'C..."
Ciudad Lineal,"Calle de Alcalá, 242, 28027, Madrid","{'standard': {'addresst': '28027', 'city': 'Ma..."
Hortaleza,"Gran Vía de Hortaleza, 74, 28043, Madrid","{'standard': {'stnumber': '74', 'addresst': 'G..."
Villaverde,"Calle de la Resina, 10, 28021, Madrid",{'standard': {'addresst': 'Calle De La Resina'...
Villa de Vallecas,"Calle Juan Antonio Bardem, 6, 28031, Madrid","{'standard': {'stnumber': '6', 'addresst': 'Ju..."
Vicálvaro,"Avenida de la Gran Vía del Este, 20, 28032, Ma...","{'standard': {'stnumber': '80', 'addresst': 'A..."
San Blas,"Calle de Arturo Soria, 14, 28027 Madrid","{'standard': {'stnumber': '14', 'addresst': 'C..."
Barajas,"Avenida de Logroño, 223, 28042, Madrid","{'standard': {'stnumber': '179', 'addresst': '..."

In [258]:
len(df_lim1)

17

In [259]:
ofiserror = {
         'Centro': 'Calle de Preciados, 27, 28013, Madrid',
        'Chamartín': 'Avenida de Alberto Alcocer, 43, 28036 Madrid',
        'Moncloa': 'Calle de Altamirano, 29, 28008, Madrid', 
        'Puente de Vallecas': 'Avenida de Buenos Aires, 7, 28018, Madrid', 
       }

In [260]:
df_resto = pd.DataFrame.from_dict(ofiserror, orient= 'index', columns = ['adress'])
df_resto

                                                          adress
Centro                     Calle de Preciados, 27, 28013, Madrid
Chamartín           Avenida de Alberto Alcocer, 43, 28036 Madrid
Moncloa                   Calle de Altamirano, 29, 28008, Madrid
Puente de Vallecas     Avenida de Buenos Aires, 7, 28018, Madrid

In [261]:
df_resto['request'] = df_resto.adress.apply(geocode)
df_resto

,adress,request
Centro,"Calle de Preciados, 27, 28013, Madrid","{'standard': {'stnumber': '27', 'addresst': 'P..."
Chamartín,"Avenida de Alberto Alcocer, 43, 28036 Madrid","{'standard': {'stnumber': '43', 'addresst': 'A..."
Moncloa,"Calle de Altamirano, 29, 28008, Madrid","{'standard': {'stnumber': '33', 'addresst': 'C..."
Puente de Vallecas,"Avenida de Buenos Aires, 7, 28018, Madrid",{'standard': {'addresst': 'Avenida De Buenos A...

In [262]:
df_lim2 = df_lim1

In [263]:
df_lim2

,adress,request
Arganzuela,"Calle del Plomo, 10, 28045, Madrid","{'standard': {'stnumber': '10', 'addresst': 'C..."
Retiro,"Calle de Menorca, 6, 28009 Madrid","{'standard': {'addresst': 'Calle De Menorca', ..."
Salamanca,"Calle Serrano, 52, 28001, Madrid","{'standard': {'stnumber': '52', 'addresst': 'C..."
Tetuán,"Calle de Emilia, 12-18, 28029 Madrid","{'standard': {'stnumber': '19', 'addresst': 'C..."
Chamberí,"Avenida de Filipinas, 7, 28003, Madrid","{'standard': {'stnumber': '7', 'addresst': 'Av..."
Fuencarral-El Pardo,"Calle de Fermín Caballero, 27, 28034, Madrid","{'standard': {'addresst': 'Fermin Caballero', ..."
Latina,"Calle Sepúlveda, 21, 28011 Madrid","{'standard': {'addresst': 'Calle Sepúlveda', '..."
Carabanchel,"Calle Besolla, 10, 28025 Madrid","{'standard': {'stnumber': '9', 'addresst': 'Be..."
Usera,"Calle Mirasierra, 23, 28026 Madrid","{'standard': {'stnumber': '23', 'addresst': 'M..."
Moratalaz,"Calle del Arroyo Belincoso, 36, 28030 Madrid","{'standard': {'stnumber': '38', 'addresst': 'C..."
Ciudad Lineal,"Calle de Alcalá, 242, 28027, Madrid","{'standard': {'addresst': '28027', 'city': 'Ma..."
Hortaleza,"Gran Vía de Hortaleza, 74, 28043, Madrid","{'standard': {'stnumber': '74', 'addresst': 'G..."
Villaverde,"Calle de la Resina, 10, 28021, Madrid",{'standard': {'addresst': 'Calle De La Resina'...
Villa de Vallecas,"Calle Juan Antonio Bardem, 6, 28031, Madrid","{'standard': {'stnumber': '6', 'addresst': 'Ju..."
Vicálvaro,"Avenida de la Gran Vía del Este, 20, 28032, Ma...","{'standard': {'stnumber': '80', 'addresst': 'A..."
San Blas,"Calle de Arturo Soria, 14, 28027 Madrid","{'standard': {'stnumber': '14', 'addresst': 'C..."
Barajas,"Avenida de Logroño, 223, 28042, Madrid","{'standard': {'stnumber': '179', 'addresst': '..."

In [265]:
len(df_lim2)

17

In [266]:
df_def = df_lim2.drop_duplicates('adress')

In [267]:
df_def

,adress,request
Arganzuela,"Calle del Plomo, 10, 28045, Madrid","{'standard': {'stnumber': '10', 'addresst': 'C..."
Retiro,"Calle de Menorca, 6, 28009 Madrid","{'standard': {'addresst': 'Calle De Menorca', ..."
Salamanca,"Calle Serrano, 52, 28001, Madrid","{'standard': {'stnumber': '52', 'addresst': 'C..."
Tetuán,"Calle de Emilia, 12-18, 28029 Madrid","{'standard': {'stnumber': '19', 'addresst': 'C..."
Chamberí,"Avenida de Filipinas, 7, 28003, Madrid","{'standard': {'stnumber': '7', 'addresst': 'Av..."
Fuencarral-El Pardo,"Calle de Fermín Caballero, 27, 28034, Madrid","{'standard': {'addresst': 'Fermin Caballero', ..."
Latina,"Calle Sepúlveda, 21, 28011 Madrid","{'standard': {'addresst': 'Calle Sepúlveda', '..."
Carabanchel,"Calle Besolla, 10, 28025 Madrid","{'standard': {'stnumber': '9', 'addresst': 'Be..."
Usera,"Calle Mirasierra, 23, 28026 Madrid","{'standard': {'stnumber': '23', 'addresst': 'M..."
Moratalaz,"Calle del Arroyo Belincoso, 36, 28030 Madrid","{'standard': {'stnumber': '38', 'addresst': 'C..."
Ciudad Lineal,"Calle de Alcalá, 242, 28027, Madrid","{'standard': {'addresst': '28027', 'city': 'Ma..."
Hortaleza,"Gran Vía de Hortaleza, 74, 28043, Madrid","{'standard': {'stnumber': '74', 'addresst': 'G..."
Villaverde,"Calle de la Resina, 10, 28021, Madrid",{'standard': {'addresst': 'Calle De La Resina'...
Villa de Vallecas,"Calle Juan Antonio Bardem, 6, 28031, Madrid","{'standard': {'stnumber': '6', 'addresst': 'Ju..."
Vicálvaro,"Avenida de la Gran Vía del Este, 20, 28032, Ma...","{'standard': {'stnumber': '80', 'addresst': 'A..."
San Blas,"Calle de Arturo Soria, 14, 28027 Madrid","{'standard': {'stnumber': '14', 'addresst': 'C..."
Barajas,"Avenida de Logroño, 223, 28042, Madrid","{'standard': {'stnumber': '179', 'addresst': '..."

In [268]:
len(df_def)

17

In [244]:
len(offices)

21

In [245]:
ces={'Centro': 'Calle de Preciados, 27, 28013, Madrid',
        'Arganzuela':'Calle del Plomo, 10, 28045, Madrid',
        'Retiro': "Calle de Menorca, 6, 28009 Madrid",
        'Salamanca': 'Calle Serrano, 52, 28001, Madrid',
        'Chamartín': 'Avenida de Alberto Alcocer, 43, 28036 Madrid',
        'Tetuán': 'Calle de Emilia, 12-18, 28029 Madrid',
        'Chamberí':'Avenida de Filipinas, 7, 28003, Madrid',
        'Fuencarral-El Pardo': 'Calle de Fermín Caballero, 27, 28034, Madrid', 
        'Moncloa': 'Calle de Altamirano, 29, 28008, Madrid',
        'Latina': 'Calle Sepúlveda, 21, 28011 Madrid', 
        'Carabanchel':'Calle Besolla, 10, 28025 Madrid', 
        'Usera': 'Calle Mirasierra, 23, 28026 Madrid',
        'Puente de Vallecas': 'Avenida de Buenos Aires, 7, 28018, Madrid', 
        'Moratalaz': 'Calle del Arroyo Belincoso, 36, 28030 Madrid',
        'Ciudad Lineal': 'Calle de Alcalá, 242, 28027, Madrid',
        'Hortaleza':'Gran Vía de Hortaleza, 74, 28043, Madrid',
        'Villaverde':'Calle de la Resina, 10, 28021, Madrid',
        'Villa de Vallecas':'Calle Juan Antonio Bardem, 6, 28031, Madrid',
        'Vicálvaro':'Avenida de la Gran Vía del Este, 20, 28032, Madrid',
        'San Blas': 'Calle de Arturo Soria, 14, 28027 Madrid',
        'Barajas': 'Avenida de Logroño, 223, 28042, Madrid'
       }

In [271]:
df_limpio = df_def.append(df_resto)
df_limpio

,adress,request
Arganzuela,"Calle del Plomo, 10, 28045, Madrid","{'standard': {'stnumber': '10', 'addresst': 'C..."
Retiro,"Calle de Menorca, 6, 28009 Madrid","{'standard': {'addresst': 'Calle De Menorca', ..."
Salamanca,"Calle Serrano, 52, 28001, Madrid","{'standard': {'stnumber': '52', 'addresst': 'C..."
Tetuán,"Calle de Emilia, 12-18, 28029 Madrid","{'standard': {'stnumber': '19', 'addresst': 'C..."
Chamberí,"Avenida de Filipinas, 7, 28003, Madrid","{'standard': {'stnumber': '7', 'addresst': 'Av..."
Fuencarral-El Pardo,"Calle de Fermín Caballero, 27, 28034, Madrid","{'standard': {'addresst': 'Fermin Caballero', ..."
Latina,"Calle Sepúlveda, 21, 28011 Madrid","{'standard': {'addresst': 'Calle Sepúlveda', '..."
Carabanchel,"Calle Besolla, 10, 28025 Madrid","{'standard': {'stnumber': '9', 'addresst': 'Be..."
Usera,"Calle Mirasierra, 23, 28026 Madrid","{'standard': {'stnumber': '23', 'addresst': 'M..."
Moratalaz,"Calle del Arroyo Belincoso, 36, 28030 Madrid","{'standard': {'stnumber': '38', 'addresst': 'C..."
Ciudad Lineal,"Calle de Alcalá, 242, 28027, Madrid","{'standard': {'addresst': '28027', 'city': 'Ma..."
Hortaleza,"Gran Vía de Hortaleza, 74, 28043, Madrid","{'standard': {'stnumber': '74', 'addresst': 'G..."
Villaverde,"Calle de la Resina, 10, 28021, Madrid",{'standard': {'addresst': 'Calle De La Resina'...
Villa de Vallecas,"Calle Juan Antonio Bardem, 6, 28031, Madrid","{'standard': {'stnumber': '6', 'addresst': 'Ju..."
Vicálvaro,"Avenida de la Gran Vía del Este, 20, 28032, Ma...","{'standard': {'stnumber': '80', 'addresst': 'A..."
San Blas,"Calle de Arturo Soria, 14, 28027 Madrid","{'standard': {'stnumber': '14', 'addresst': 'C..."
Barajas,"Avenida de Logroño, 223, 28042, Madrid","{'standard': {'stnumber': '179', 'addresst': '..."
Centro,"Calle de Preciados, 27, 28013, Madrid","{'standard': {'stnumber': '27', 'addresst': 'P..."
Chamartín,"Avenida de Alberto Alcocer, 43, 28036 Madrid","{'standard': {'stnumber': '43', 'addresst': 'A..."
Moncloa,"Calle de Altamirano, 29, 28008, Madrid","{'standard': {'stnumber': '33', 'addresst': 'C..."
Puente de Vallecas,"Avenida de Buenos Aires, 7, 28018, Madrid",{'standard': {'addresst': 'Avenida De Buenos A...

In [272]:
len(df_limpio)

21

In [273]:
df_limpio.to_csv('../data/oficinasLibres.csv')

In [280]:
df_lim_exp = df_limpio

In [287]:
df_lim_exp = df_lim_exp.explode('request')

In [288]:
df_lim_exp

                                                       adress    request
Arganzuela                 Calle del Plomo, 10, 28045, Madrid   standard
Arganzuela                 Calle del Plomo, 10, 28045, Madrid      longt
Arganzuela                 Calle del Plomo, 10, 28045, Madrid        alt
Arganzuela                 Calle del Plomo, 10, 28045, Madrid  elevation
Arganzuela                 Calle del Plomo, 10, 28045, Madrid       latt
...                                                       ...        ...
Puente de Vallecas  Avenida de Buenos Aires, 7, 28018, Madrid   standard
Puente de Vallecas  Avenida de Buenos Aires, 7, 28018, Madrid      longt
Puente de Vallecas  Avenida de Buenos Aires, 7, 28018, Madrid        alt
Puente de Vallecas  Avenida de Buenos Aires, 7, 28018, Madrid  elevation
Puente de Vallecas  Avenida de Buenos Aires, 7, 28018, Madrid       latt

[105 rows x 2 columns]

In [289]:
df_explo = df_limpio

In [290]:
df_explo = df_explo[["request"]].apply(lambda x: x.request, result_type="expand", axis=1)

In [296]:
df_explo = df_explo.drop(['standard', 'alt', 'elevation'], axis=1)
df_explo

                        longt      latt
Arganzuela           -3.68972  40.39238
Retiro               -3.67826  40.41964
Salamanca            -3.68721  40.42760
Tetuán               -3.69529  40.47004
Chamberí             -3.71014  40.44099
Fuencarral-El Pardo  -3.70367  40.48510
Latina               -3.74322  40.39355
Carabanchel          -3.73501  40.37663
Usera                -3.70595  40.38989
Moratalaz            -3.65223  40.41057
Ciudad Lineal        -3.63581  40.43875
Hortaleza            -3.64645  40.46817
Villaverde           -3.70396  40.33596
Villa de Vallecas    -3.59451  40.36813
Vicálvaro            -3.61868  40.38671
San Blas             -3.63880  40.43965
Barajas              -3.59395  40.46079
Centro               -3.70628  40.41956
Chamartín            -3.68044  40.45882
Moncloa              -3.72137  40.42978
Puente de Vallecas   -3.65323  40.38492

In [297]:
df_explo.to_csv('../data/oficinasAlqCoord.csv')

# Pintamos todas la localizaciones de la oficinas disponibles en Madrid

In [298]:
inicial_lat = 40.4143851
inicial_long = -3.6820241

In [ ]:
map_1 = folium.Map(location=[inicial_lat,inicial_long], zoom_start=12)
map_1

In [ ]:
pd.Series

In [286]:
df_lim_exp['latt'] = df_lim_exp.apply(pd.Series)

ValueError: Wrong number of items passed 2, placement implies 1

In [284]:
df_lim_exp['latt'] = df_lim_exp.apply(df_lim_exp['request']['latt'])

KeyError: 'latt'

In [181]:
df1

,adress,request
Centro,"Calle de Preciados, 27, 28013, Madrid","{'success': False, 'error': {'code': '006', 'm..."
Arganzuela,"Calle del Plomo, 10, 28045, Madrid","{'standard': {'stnumber': '10', 'addresst': 'C..."
Retiro,"Calle de Menorca, 6, 28009 Madrid","{'standard': {'addresst': 'Calle De Menorca', ..."
Salamanca,"Calle Serrano, 52, 28001, Madrid","{'success': False, 'error': {'code': '006', 'm..."

In [176]:
def nwdf(df):
    for i in range(len(df)):
        try:
            df_mask =df1['request'][0]['success'] == False
            if df_mask == False:
                 return df[df_mask]
        except:
            return nan

In [180]:
df_sucio = pd.DataFrame(nwdf(df1))
df_sucio

Empty DataFrame
Columns: []
Index: []

In [275]:
#df_limpio = df1[df1['request'].str.contains("success", case=False)]
#df1.query('Sales == 300')
#contains

In [277]:
#import googlemaps
#KEY = os.getenv('google')
#gmaps = googlemaps.Client(key=KEY)

In [278]:
def get_coordinates(address):
    city = 'spain'
    geocode_result = gmaps.geocode(str(address) +' '+ city)
    if len(geocode_result) > 0:
        return list(geocode_result[0]['geometry']['location'].values())
    else:
        return [np.NaN, np.NaN]

In [279]:
#offices_df['request'] = offices_df.adress.apply(get_coordinates)

In [ ]:
#offices_df['request'][6]

In [ ]:
#time.sleep(20)

In [ ]:
#'success' in offices_df['request'][1]

In [ ]:
def Birequest(col):
    if'success' in col:
        return offices_df.adress.apply(geocode)
    else:
        return col

In [ ]:
#offices_df

In [ ]:
#df['birequest'] = offices_df.request.apply(Birequest)

In [ ]:
#df

In [ ]:
#offices_df['birequest'] = offices_df.request.apply(Birequest)

In [ ]:
#offices_df.to_csv('../data/oficinas_bruto.csv')

In [ ]:
#o_df['latt'] = o_df.bibirequest.apply(o_df['bibirequest']['latt'])

In [ ]:
o_df['bibirequest']['Centro']['latt']

In [ ]:
o_df.apply(lambda:o_df['latt'] = o_df['bibirequest']['latt'])

In [ ]:
df = o_df['bibirequest']
df

In [ ]:
 df.apply(pd.Series)