# TheCompanyLocator

Vamos ha ubicara el mejor distrito de Madrid para nuestra company

20 Designers
5 UI/UX Engineers
10 Frontend Developers
15 Data Engineers
5 Backend Developers
20 Account Managers
1 Maintenance guy that loves basketball
10 Executives
1 CEO/President.

In [1]:
import folium
from folium import Choropleth, Circle, Marker, Icon, Map
from folium.plugins import HeatMap, MarkerCluster
import requests
import json
#from dotenv import load_dotenv
import os
import pandas as pd
import time

1 - Designers like to go to design talks and share knowledge. There must be some nearby companies that also do design.
2 30% of the company staff have at least 1 child.
Developers like to be near successful tech startups that have raised at least 1 Million dollars.
Executives like Starbucks A LOT. Ensure there's a starbucks not too far.
Account managers need to travel a lot.
Everyone in the company is between 25 and 40, give them some place to go party.
The CEO is vegan.
If you want to make the maintenance guy happy, a basketball stadium must be around 10 Km.
The office dog—"Dobby" needs a hairdresser every month. Ensure there's one not too far away.

In [2]:
personal_num = {'Designers':20,
                'UI/UX Engineers':5,
                'Frontend Developers':10,
                'Data Engineers':15,
                'Backend Developers':5,
                'Account Managers':20,
                'Maintenance guy':1,
                'Executives':10,
                'CEO/President':1}

In [3]:
personal_code = {'Designers':1,
            'UI/UX Engineers':2,
            'Frontend Developers':3,
            'Data Engineers':4,
            'Backend Developers':5,
            'Account Managers':6,
            'Maintenance guy':7,
            'Executives':8,
            'CEO/President':9}

In [4]:
criteria  = {1:'Designers like to go to design talks and share knowledge. There must be some nearby companies that also do design',
                2:'30% of the company staff have at least 1 child',
                3:'Developers like to be near successful tech startups that have raised at least 1 Million dollars',
                4:'Executives like Starbucks A LOT. Ensure there s a starbucks not too far.',
                5:'Account managers need to travel a lot.',
                6:'Everyone in the company is between 25 and 40, give them some place to go party',
                7:'The CEO is vegan',
                8:'If you want to make the maintenance guy happy, a basketball stadium must be around 10 Km.',
                9:'The office dog—Dobby needs a hairdresser every month. Ensure there is one not too far away.'}

In [5]:
presonal_criteria = {'Designers':[1, 2, 6, 9],
                'UI/UX Engineers':[2, 6, 9],
                'Frontend Developers':[2, 3, 6, 9],
                'Data Engineers':[2, 6, 9],
                'Backend Developers':[2, 3, 6, 9],
                'Account Managers':[2, 5, 6, 9],
                'Maintenance guy':[2, 6, 8, 9],
                'Executives':[2, 4, 6, 9],
                'CEO/President':[2, 6, 7, 9]}

In [6]:
offices={'Centro': 'Calle de Preciados, 27, 28013, Madrid',
        'Arganzuela':'Call del Plomo, 10, 28045, Madrid',
        'Retiro': "Calle de Menorca, 6, 28009 Madrid",
        'Salamanca': 'Calle Serrano, 52, 28001, Madrid',
        'Chamartín': 'Avenida de Alberto Alcocer, 43, 28036 Madrid',
        'Tetuán': 'Calle de Emilia, 12-18, 28029 Madrid',
        'Chamberí':'Avenida de Filipinas, 7, 28003, Madrid',
        'Fuencarral-El Pardo': 'Calle de Fermín Caballero, 27, 28034, Madrid', 
        'Moncloa': 'Calle de Altamirano, 29, 28008, Madrid',
        'Latina': 'Calle Sepúlveda, 21, 28011 Madrid', 
        'Carabanchel':'Calle Besolla, 10, 28025 Madrid', 
        'Usera': 'Calle Mirasierra, 23, 28026 Madrid',
        'Puente de Vallecas': 'Avenida de Buenos Aires, 7, 28018, Madrid', 
        'Moratalaz': 'Calle del Arroyo Belincoso, 36, 28030 Madrid',
        'Ciudad Lineal': 'Calle de Alcalá, 242, 28027, Madrid',
        'Hortaleza':'Gran Vía de Hortaleza, 74, 28043, Madrid',
        'Villaverde':'Calle de la Resina, 10, 28021, Madrid',
        'Villa de Vallecas':'Calle Juan Antonio Bardem, 6, 28031, Madrid',
        'Vicálvaro':'Avenida de la Gran Vía del Este, 20, 28032, Madrid',
        'San Blas': 'Calle de Arturo Soria, 14, 28027 Madrid',
        'Barajas': 'Avenida de Logroño, 223, 28042, Madrid'
       }

In [7]:
personal = pd.DataFrame([personal_num, personal_code, presonal_criteria])

In [8]:
personal

,Designers,UI/UX Engineers,Frontend Developers,Data Engineers,Backend Developers,Account Managers,Maintenance guy,Executives,CEO/President
0,20,5,10,15,5,20,1,10,1
1,1,2,3,4,5,6,7,8,9
2,"[1, 2, 6, 9]","[2, 6, 9]","[2, 3, 6, 9]","[2, 6, 9]","[2, 3, 6, 9]","[2, 5, 6, 9]","[2, 6, 8, 9]","[2, 4, 6, 9]","[2, 6, 7, 9]"

In [9]:
offices_df = pd.DataFrame.from_dict(offices, orient= 'index', columns = ['adress'])

In [10]:
offices_df

                                                                adress
Centro                           Calle de Preciados, 27, 28013, Madrid
Arganzuela                           Call del Plomo, 10, 28045, Madrid
Retiro                               Calle de Menorca, 6, 28009 Madrid
Salamanca                             Calle Serrano, 52, 28001, Madrid
Chamartín                 Avenida de Alberto Alcocer, 43, 28036 Madrid
Tetuán                            Calle de Emilia, 12-18, 28029 Madrid
Chamberí                        Avenida de Filipinas, 7, 28003, Madrid
Fuencarral-El Pardo       Calle de Fermín Caballero, 27, 28034, Madrid
Moncloa                         Calle de Altamirano, 29, 28008, Madrid
Latina                               Calle Sepúlveda, 21, 28011 Madrid
Carabanchel                            Calle Besolla, 10, 28025 Madrid
Usera                               Calle Mirasierra, 23, 28026 Madrid
Puente de Vallecas           Avenida de Buenos Aires, 7, 28018, Madrid
Moratalaz                 Calle del Arroyo Belincoso, 36, 28030 Madrid
Ciudad Lineal                      Calle de Alcalá, 242, 28027, Madrid
Hortaleza                     Gran Vía de Hortaleza, 74, 28043, Madrid
Villaverde                       Calle de la Resina, 10, 28021, Madrid
Villa de Vallecas          Calle Juan Antonio Bardem, 6, 28031, Madrid
Vicálvaro            Avenida de la Gran Vía del Este, 20, 28032, Ma...
San Blas                       Calle de Arturo Soria, 14, 28027 Madrid
Barajas                         Avenida de Logroño, 223, 28042, Madrid

In [11]:
def geocode(adress):
    data = requests.get(f"https://geocode.xyz/{adress}?json=1").json()
    time.sleep(2)
    return data

In [12]:
#a = geocode('Paseo de la Chopera, 2, 28045, Madrid')

In [13]:
#a

In [14]:
offices_df['request'] = offices_df.adress.apply(geocode)

In [15]:
offices_df

,adress,request
Centro,"Calle de Preciados, 27, 28013, Madrid","{'standard': {'stnumber': '27', 'addresst': 'P..."
Arganzuela,"Call del Plomo, 10, 28045, Madrid","{'standard': {'stnumber': '12', 'addresst': '2..."
Retiro,"Calle de Menorca, 6, 28009 Madrid","{'standard': {'addresst': 'Calle De Menorca', ..."
Salamanca,"Calle Serrano, 52, 28001, Madrid","{'standard': {'stnumber': '52', 'addresst': 'C..."
Chamartín,"Avenida de Alberto Alcocer, 43, 28036 Madrid","{'standard': {'stnumber': '43', 'addresst': 'A..."
Tetuán,"Calle de Emilia, 12-18, 28029 Madrid","{'success': False, 'error': {'code': '006', 'm..."
Chamberí,"Avenida de Filipinas, 7, 28003, Madrid","{'standard': {'stnumber': '7', 'addresst': 'Av..."
Fuencarral-El Pardo,"Calle de Fermín Caballero, 27, 28034, Madrid","{'standard': {'addresst': 'Fermin Caballero', ..."
Moncloa,"Calle de Altamirano, 29, 28008, Madrid","{'standard': {'stnumber': '33', 'addresst': 'C..."
Latina,"Calle Sepúlveda, 21, 28011 Madrid","{'standard': {'addresst': 'Calle Sepúlveda', '..."
Carabanchel,"Calle Besolla, 10, 28025 Madrid","{'success': False, 'error': {'code': '006', 'm..."
Usera,"Calle Mirasierra, 23, 28026 Madrid","{'standard': {'stnumber': '23', 'addresst': 'M..."
Puente de Vallecas,"Avenida de Buenos Aires, 7, 28018, Madrid",{'standard': {'addresst': 'Avenida De Buenos A...
Moratalaz,"Calle del Arroyo Belincoso, 36, 28030 Madrid","{'standard': {'stnumber': '38', 'addresst': 'C..."
Ciudad Lineal,"Calle de Alcalá, 242, 28027, Madrid","{'standard': {'addresst': '28027', 'city': 'Ma..."
Hortaleza,"Gran Vía de Hortaleza, 74, 28043, Madrid","{'standard': {'stnumber': '74', 'addresst': 'G..."
Villaverde,"Calle de la Resina, 10, 28021, Madrid",{'standard': {'addresst': 'Calle De La Resina'...
Villa de Vallecas,"Calle Juan Antonio Bardem, 6, 28031, Madrid","{'standard': {'stnumber': '6', 'addresst': 'Ju..."
Vicálvaro,"Avenida de la Gran Vía del Este, 20, 28032, Ma...","{'standard': {'stnumber': '80', 'addresst': 'A..."
San Blas,"Calle de Arturo Soria, 14, 28027 Madrid","{'standard': {'stnumber': '14', 'addresst': 'C..."
Barajas,"Avenida de Logroño, 223, 28042, Madrid","{'standard': {'stnumber': '179', 'addresst': '..."

In [26]:
df = offices_df
df

,adress,request,birequest
Centro,"Calle de Preciados, 27, 28013, Madrid","{'standard': {'stnumber': '27', 'addresst': 'P...","{'standard': {'stnumber': '27', 'addresst': 'P..."
Arganzuela,"Call del Plomo, 10, 28045, Madrid","{'standard': {'stnumber': '12', 'addresst': '2...","{'standard': {'stnumber': '12', 'addresst': '2..."
Retiro,"Calle de Menorca, 6, 28009 Madrid","{'standard': {'addresst': 'Calle De Menorca', ...","{'standard': {'addresst': 'Calle De Menorca', ..."
Salamanca,"Calle Serrano, 52, 28001, Madrid","{'standard': {'stnumber': '52', 'addresst': 'C...","{'standard': {'stnumber': '52', 'addresst': 'C..."
Chamartín,"Avenida de Alberto Alcocer, 43, 28036 Madrid","{'standard': {'stnumber': '43', 'addresst': 'A...","{'standard': {'stnumber': '43', 'addresst': 'A..."
Tetuán,"Calle de Emilia, 12-18, 28029 Madrid","{'success': False, 'error': {'code': '006', 'm...",Centro {'standard': {'stnumber...
Chamberí,"Avenida de Filipinas, 7, 28003, Madrid","{'standard': {'stnumber': '7', 'addresst': 'Av...","{'standard': {'stnumber': '7', 'addresst': 'Av..."
Fuencarral-El Pardo,"Calle de Fermín Caballero, 27, 28034, Madrid","{'standard': {'addresst': 'Fermin Caballero', ...","{'standard': {'addresst': 'Fermin Caballero', ..."
Moncloa,"Calle de Altamirano, 29, 28008, Madrid","{'standard': {'stnumber': '33', 'addresst': 'C...","{'standard': {'stnumber': '33', 'addresst': 'C..."
Latina,"Calle Sepúlveda, 21, 28011 Madrid","{'standard': {'addresst': 'Calle Sepúlveda', '...","{'standard': {'addresst': 'Calle Sepúlveda', '..."
Carabanchel,"Calle Besolla, 10, 28025 Madrid","{'success': False, 'error': {'code': '006', 'm...",Centro {'standard': {'stnumber...
Usera,"Calle Mirasierra, 23, 28026 Madrid","{'standard': {'stnumber': '23', 'addresst': 'M...","{'standard': {'stnumber': '23', 'addresst': 'M..."
Puente de Vallecas,"Avenida de Buenos Aires, 7, 28018, Madrid",{'standard': {'addresst': 'Avenida De Buenos A...,{'standard': {'addresst': 'Avenida De Buenos A...
Moratalaz,"Calle del Arroyo Belincoso, 36, 28030 Madrid","{'standard': {'stnumber': '38', 'addresst': 'C...","{'standard': {'stnumber': '38', 'addresst': 'C..."
Ciudad Lineal,"Calle de Alcalá, 242, 28027, Madrid","{'standard': {'addresst': '28027', 'city': 'Ma...","{'standard': {'addresst': '28027', 'city': 'Ma..."
Hortaleza,"Gran Vía de Hortaleza, 74, 28043, Madrid","{'standard': {'stnumber': '74', 'addresst': 'G...","{'standard': {'stnumber': '74', 'addresst': 'G..."
Villaverde,"Calle de la Resina, 10, 28021, Madrid",{'standard': {'addresst': 'Calle De La Resina'...,{'standard': {'addresst': 'Calle De La Resina'...
Villa de Vallecas,"Calle Juan Antonio Bardem, 6, 28031, Madrid","{'standard': {'stnumber': '6', 'addresst': 'Ju...","{'standard': {'stnumber': '6', 'addresst': 'Ju..."
Vicálvaro,"Avenida de la Gran Vía del Este, 20, 28032, Ma...","{'standard': {'stnumber': '80', 'addresst': 'A...","{'standard': {'stnumber': '80', 'addresst': 'A..."
San Blas,"Calle de Arturo Soria, 14, 28027 Madrid","{'standard': {'stnumber': '14', 'addresst': 'C...","{'standard': {'stnumber': '14', 'addresst': 'C..."
Barajas,"Avenida de Logroño, 223, 28042, Madrid","{'standard': {'stnumber': '179', 'addresst': '...","{'standard': {'stnumber': '179', 'addresst': '..."

In [ ]:
for column in [col for col in df.columns if col.find("name") > 0]:
    print('Nombre de la columna: ', column)
    print('Contenido de la columna: ', df[column].values)

In [ ]:
#offices_df['request'][6]

In [ ]:
time.sleep(20)

In [ ]:
#'success' in offices_df['request'][1]

In [22]:
def Birequest(col):
    if'success' in col:
        return df.adress.apply(geocode)
    else:
        return col

In [23]:
#offices_df

In [24]:
df['birequest'] = offices_df.request.apply(Birequest)

In [25]:
df

,adress,request,birequest
Centro,"Calle de Preciados, 27, 28013, Madrid","{'standard': {'stnumber': '27', 'addresst': 'P...","{'standard': {'stnumber': '27', 'addresst': 'P..."
Arganzuela,"Call del Plomo, 10, 28045, Madrid","{'standard': {'stnumber': '12', 'addresst': '2...","{'standard': {'stnumber': '12', 'addresst': '2..."
Retiro,"Calle de Menorca, 6, 28009 Madrid","{'standard': {'addresst': 'Calle De Menorca', ...","{'standard': {'addresst': 'Calle De Menorca', ..."
Salamanca,"Calle Serrano, 52, 28001, Madrid","{'standard': {'stnumber': '52', 'addresst': 'C...","{'standard': {'stnumber': '52', 'addresst': 'C..."
Chamartín,"Avenida de Alberto Alcocer, 43, 28036 Madrid","{'standard': {'stnumber': '43', 'addresst': 'A...","{'standard': {'stnumber': '43', 'addresst': 'A..."
Tetuán,"Calle de Emilia, 12-18, 28029 Madrid","{'success': False, 'error': {'code': '006', 'm...",Centro {'standard': {'stnumber...
Chamberí,"Avenida de Filipinas, 7, 28003, Madrid","{'standard': {'stnumber': '7', 'addresst': 'Av...","{'standard': {'stnumber': '7', 'addresst': 'Av..."
Fuencarral-El Pardo,"Calle de Fermín Caballero, 27, 28034, Madrid","{'standard': {'addresst': 'Fermin Caballero', ...","{'standard': {'addresst': 'Fermin Caballero', ..."
Moncloa,"Calle de Altamirano, 29, 28008, Madrid","{'standard': {'stnumber': '33', 'addresst': 'C...","{'standard': {'stnumber': '33', 'addresst': 'C..."
Latina,"Calle Sepúlveda, 21, 28011 Madrid","{'standard': {'addresst': 'Calle Sepúlveda', '...","{'standard': {'addresst': 'Calle Sepúlveda', '..."
Carabanchel,"Calle Besolla, 10, 28025 Madrid","{'success': False, 'error': {'code': '006', 'm...",Centro {'standard': {'stnumber...
Usera,"Calle Mirasierra, 23, 28026 Madrid","{'standard': {'stnumber': '23', 'addresst': 'M...","{'standard': {'stnumber': '23', 'addresst': 'M..."
Puente de Vallecas,"Avenida de Buenos Aires, 7, 28018, Madrid",{'standard': {'addresst': 'Avenida De Buenos A...,{'standard': {'addresst': 'Avenida De Buenos A...
Moratalaz,"Calle del Arroyo Belincoso, 36, 28030 Madrid","{'standard': {'stnumber': '38', 'addresst': 'C...","{'standard': {'stnumber': '38', 'addresst': 'C..."
Ciudad Lineal,"Calle de Alcalá, 242, 28027, Madrid","{'standard': {'addresst': '28027', 'city': 'Ma...","{'standard': {'addresst': '28027', 'city': 'Ma..."
Hortaleza,"Gran Vía de Hortaleza, 74, 28043, Madrid","{'standard': {'stnumber': '74', 'addresst': 'G...","{'standard': {'stnumber': '74', 'addresst': 'G..."
Villaverde,"Calle de la Resina, 10, 28021, Madrid",{'standard': {'addresst': 'Calle De La Resina'...,{'standard': {'addresst': 'Calle De La Resina'...
Villa de Vallecas,"Calle Juan Antonio Bardem, 6, 28031, Madrid","{'standard': {'stnumber': '6', 'addresst': 'Ju...","{'standard': {'stnumber': '6', 'addresst': 'Ju..."
Vicálvaro,"Avenida de la Gran Vía del Este, 20, 28032, Ma...","{'standard': {'stnumber': '80', 'addresst': 'A...","{'standard': {'stnumber': '80', 'addresst': 'A..."
San Blas,"Calle de Arturo Soria, 14, 28027 Madrid","{'standard': {'stnumber': '14', 'addresst': 'C...","{'standard': {'stnumber': '14', 'addresst': 'C..."
Barajas,"Avenida de Logroño, 223, 28042, Madrid","{'standard': {'stnumber': '179', 'addresst': '...","{'standard': {'stnumber': '179', 'addresst': '..."

In [ ]:
offices_df['bibirequest'] = offices_df.birequest.apply(Birequest)

In [ ]:
offices_df

In [ ]:
offices_df['bibirequest']['Tetuan']

In [ ]:
#offices_df.to_csv('../data/oficinas_bruto.csv')

In [ ]:
offices_df['bibirequest']['Centro']

In [ ]:
o_df = offices_df

In [ ]:
#o_df['latt'] = o_df.bibirequest.apply(o_df['bibirequest']['latt'])

In [ ]:
o_df['bibirequest']['Centro']['latt']

In [ ]:
o_df.apply(lambda:o_df['latt'] = o_df['bibirequest']['latt'])

In [ ]:
df = o_df['bibirequest']
df

In [ ]:
 df.apply(pd.Series)

# Pintamos todas la localizaciones de la oficinas disponibles en Madrid

In [ ]:
inicial_lat = 40.4143851
inicial_long = -3.6820241

In [ ]:
map_1 = folium.Map(location=[inicial_lat,inicial_long], zoom_start=12)
map_1