# TheCompanyLocator

Vamos ha ubicara el mejor distrito de Madrid para nuestra company

20 Designers
5 UI/UX Engineers
10 Frontend Developers
15 Data Engineers
5 Backend Developers
20 Account Managers
1 Maintenance guy that loves basketball
10 Executives
1 CEO/President.

In [1]:
import folium
from folium import Choropleth, Circle, Marker, Icon, Map
from folium.plugins import HeatMap, MarkerCluster
import requests
import json
#from dotenv import load_dotenv
import os
import pandas as pd
import time

1 - Designers like to go to design talks and share knowledge. There must be some nearby companies that also do design.
2 30% of the company staff have at least 1 child.
Developers like to be near successful tech startups that have raised at least 1 Million dollars.
Executives like Starbucks A LOT. Ensure there's a starbucks not too far.
Account managers need to travel a lot.
Everyone in the company is between 25 and 40, give them some place to go party.
The CEO is vegan.
If you want to make the maintenance guy happy, a basketball stadium must be around 10 Km.
The office dog—"Dobby" needs a hairdresser every month. Ensure there's one not too far away.

In [2]:
personal_num = {'Designers':20,
                'UI/UX Engineers':5,
                'Frontend Developers':10,
                'Data Engineers':15,
                'Backend Developers':5,
                'Account Managers':20,
                'Maintenance guy':1,
                'Executives':10,
                'CEO/President':1}

In [3]:
personal_code = {'Designers':1,
            'UI/UX Engineers':2,
            'Frontend Developers':3,
            'Data Engineers':4,
            'Backend Developers':5,
            'Account Managers':6,
            'Maintenance guy':7,
            'Executives':8,
            'CEO/President':9}

In [4]:
criteria  = {1:'Designers like to go to design talks and share knowledge. There must be some nearby companies that also do design',
                2:'30% of the company staff have at least 1 child',
                3:'Developers like to be near successful tech startups that have raised at least 1 Million dollars',
                4:'Executives like Starbucks A LOT. Ensure there s a starbucks not too far.',
                5:'Account managers need to travel a lot.',
                6:'Everyone in the company is between 25 and 40, give them some place to go party',
                7:'The CEO is vegan',
                8:'If you want to make the maintenance guy happy, a basketball stadium must be around 10 Km.',
                9:'The office dog—Dobby needs a hairdresser every month. Ensure there is one not too far away.'}

In [5]:
presonal_criteria = {'Designers':[1, 2, 6, 9],
                'UI/UX Engineers':[2, 6, 9],
                'Frontend Developers':[2, 3, 6, 9],
                'Data Engineers':[2, 6, 9],
                'Backend Developers':[2, 3, 6, 9],
                'Account Managers':[2, 5, 6, 9],
                'Maintenance guy':[2, 6, 8, 9],
                'Executives':[2, 4, 6, 9],
                'CEO/President':[2, 6, 7, 9]}

In [6]:
offices={'Centro': 'Calle de Preciados, 27, 28013, Madrid',
        'Arganzuela':'Paseo de la Chopera, 2, 28045, Madrid',
        'Retiro': "Calle de O'Donnell, 37, 28009, Madrid",
        'Salamanca': 'Calle Serrano, 52, 28001, Madrid',
        'Chamartín': 'Calle Sta. María Magdalena, 9, 28016, Madrid',
        'Tetuán': 'Calle de Orense, 32, 28020, Madrid',
        'Chamberí':'Avenida de Filipinas, 7, 28003 Madrid',
        'Fuencarral-El Pardo': 'Calle de Fermín Caballero, 27, 28034, Madrid', 
        'Moncloa': 'Calle Poleo, 35, 28023, Madrid',
        'Latina': 'Paseo de Extremadura, 129, 28011, Madrid', 
        'Carabanchel':'Avenida de Abrantes, 78, 28025, Madrid', 
        'Usera': 'Calle Cristo de la Victoria, 78, 28026, Madrid',
        'Puente de Vallecas': 'Avenida de Buenos Aires, 7, 28018, Madrid', 
        'Moratalaz': 'Calle Molina de Segura, 17, 28030, Madrid',
        'Ciudad Lineal': 'Calle de Alcalá, 242, 28027, Madrid',
        'Hortaleza':'Calle Minaya, 6, 28043 Madrid',
        'Villaverde':'Calle de la Resina, 10, 28021, Madrid',
        'Villa de Vallecas':'Avenida de las Suertes, 70, 28051, Madrid',
        'Vicálvaro':'Avenida de la Gran Vía del Este, 20, 28032, Madrid',
        'San Blas': 'Calle de Julián Camarillo, 29, 28037, Madrid',
        'Barajas': 'Avenida de Logroño, 223, 28042, Madrid'
       }

In [7]:
personal = pd.DataFrame([personal_num, personal_code, presonal_criteria])

In [8]:
personal

,Designers,UI/UX Engineers,Frontend Developers,Data Engineers,Backend Developers,Account Managers,Maintenance guy,Executives,CEO/President
0,20,5,10,15,5,20,1,10,1
1,1,2,3,4,5,6,7,8,9
2,"[1, 2, 6, 9]","[2, 6, 9]","[2, 3, 6, 9]","[2, 6, 9]","[2, 3, 6, 9]","[2, 5, 6, 9]","[2, 6, 8, 9]","[2, 4, 6, 9]","[2, 6, 7, 9]"

In [9]:
offices_df = pd.DataFrame.from_dict(offices, orient= 'index', columns = ['adress'])

In [10]:
offices_df

                                                                adress
Centro                           Calle de Preciados, 27, 28013, Madrid
Arganzuela                       Paseo de la Chopera, 2, 28045, Madrid
Retiro                           Calle de O'Donnell, 37, 28009, Madrid
Salamanca                             Calle Serrano, 52, 28001, Madrid
Chamartín                 Calle Sta. María Magdalena, 9, 28016, Madrid
Tetuán                              Calle de Orense, 32, 28020, Madrid
Chamberí                         Avenida de Filipinas, 7, 28003 Madrid
Fuencarral-El Pardo       Calle de Fermín Caballero, 27, 28034, Madrid
Moncloa                                 Calle Poleo, 35, 28023, Madrid
Latina                        Paseo de Extremadura, 129, 28011, Madrid
Carabanchel                     Avenida de Abrantes, 78, 28025, Madrid
Usera                   Calle Cristo de la Victoria, 78, 28026, Madrid
Puente de Vallecas           Avenida de Buenos Aires, 7, 28018, Madrid
Moratalaz                    Calle Molina de Segura, 17, 28030, Madrid
Ciudad Lineal                      Calle de Alcalá, 242, 28027, Madrid
Hortaleza                                Calle Minaya, 6, 28043 Madrid
Villaverde                       Calle de la Resina, 10, 28021, Madrid
Villa de Vallecas            Avenida de las Suertes, 70, 28051, Madrid
Vicálvaro            Avenida de la Gran Vía del Este, 20, 28032, Ma...
San Blas                  Calle de Julián Camarillo, 29, 28037, Madrid
Barajas                         Avenida de Logroño, 223, 28042, Madrid

In [11]:
def geocode(adress):
    data = requests.get(f"https://geocode.xyz/{adress}?json=1").json()
    time.sleep(10)
    return data

In [12]:
a = geocode('Paseo de la Chopera, 2, 28045, Madrid')

In [13]:
a

{'standard': {'addresst': 'Paseo De La Chopera',
  'city': 'Madrid',
  'prov': 'ES',
  'countryname': 'Spain',
  'postal': '28045',
  'confidence': '0.90'},
 'longt': '-3.70233',
 'alt': {},
 'elevation': {},
 'latt': '40.39668'}

In [14]:
offices_df['request'] = offices_df.adress.apply(geocode)

In [15]:
offices_df

,adress,request
Centro,"Calle de Preciados, 27, 28013, Madrid","{'standard': {'stnumber': '27', 'addresst': 'P..."
Arganzuela,"Paseo de la Chopera, 2, 28045, Madrid","{'success': False, 'error': {'code': '006', 'm..."
Retiro,"Calle de O'Donnell, 37, 28009, Madrid","{'standard': {'stnumber': '37', 'addresst': 'C..."
Salamanca,"Calle Serrano, 52, 28001, Madrid","{'standard': {'stnumber': '52', 'addresst': 'C..."
Chamartín,"Calle Sta. María Magdalena, 9, 28016, Madrid","{'standard': {'addresst': 'Maria', 'city': 'Ma..."
Tetuán,"Calle de Orense, 32, 28020, Madrid","{'standard': {'stnumber': '33', 'addresst': 'C..."
Chamberí,"Avenida de Filipinas, 7, 28003 Madrid","{'standard': {'stnumber': '7', 'addresst': 'Av..."
Fuencarral-El Pardo,"Calle de Fermín Caballero, 27, 28034, Madrid","{'success': False, 'error': {'code': '006', 'm..."
Moncloa,"Calle Poleo, 35, 28023, Madrid","{'success': False, 'error': {'code': '006', 'm..."
Latina,"Paseo de Extremadura, 129, 28011, Madrid","{'success': False, 'error': {'code': '006', 'm..."
Carabanchel,"Avenida de Abrantes, 78, 28025, Madrid","{'standard': {'stnumber': '52', 'addresst': 'A..."
Usera,"Calle Cristo de la Victoria, 78, 28026, Madrid","{'success': False, 'error': {'code': '006', 'm..."
Puente de Vallecas,"Avenida de Buenos Aires, 7, 28018, Madrid","{'success': False, 'error': {'code': '006', 'm..."
Moratalaz,"Calle Molina de Segura, 17, 28030, Madrid","{'standard': {'stnumber': '31', 'addresst': 'M..."
Ciudad Lineal,"Calle de Alcalá, 242, 28027, Madrid","{'standard': {'addresst': '28027', 'city': 'Ma..."
Hortaleza,"Calle Minaya, 6, 28043 Madrid","{'success': False, 'error': {'code': '006', 'm..."
Villaverde,"Calle de la Resina, 10, 28021, Madrid",{'standard': {'addresst': 'Calle De La Resina'...
Villa de Vallecas,"Avenida de las Suertes, 70, 28051, Madrid",{'standard': {'addresst': 'Avenida De Las Suer...
Vicálvaro,"Avenida de la Gran Vía del Este, 20, 28032, Ma...","{'standard': {'stnumber': '80', 'addresst': 'A..."
San Blas,"Calle de Julián Camarillo, 29, 28037, Madrid","{'success': False, 'error': {'code': '006', 'm..."
Barajas,"Avenida de Logroño, 223, 28042, Madrid","{'standard': {'stnumber': '179', 'addresst': '..."

In [16]:
offices_df['request'][6]

{'standard': {'stnumber': '7',
  'addresst': 'Avenida de Filipinas',
  'postal': {},
  'region': 'ES',
  'prov': 'ES',
  'city': 'Madrid',
  'countryname': 'Spain',
  'confidence': '0.90'},
 'longt': '-3.71014',
 'alt': {},
 'elevation': {},
 'latt': '40.44099'}

In [22]:
time.sleep(20)

In [23]:
'success' in offices_df['request'][1]

True

In [24]:
def Birequest(col):
    if'success' in col:
        return geocode(col)
    else:
        pass

In [25]:
offices_df

,adress,request,Birequest
Centro,"Calle de Preciados, 27, 28013, Madrid","{'standard': {'stnumber': '27', 'addresst': 'P...",None
Arganzuela,"Paseo de la Chopera, 2, 28045, Madrid","{'success': False, 'error': {'code': '006', 'm...","{'standard': {'addresst': {}, 'city': 'See', '..."
Retiro,"Calle de O'Donnell, 37, 28009, Madrid","{'standard': {'stnumber': '37', 'addresst': 'C...",None
Salamanca,"Calle Serrano, 52, 28001, Madrid","{'standard': {'stnumber': '52', 'addresst': 'C...",None
Chamartín,"Calle Sta. María Magdalena, 9, 28016, Madrid","{'standard': {'addresst': 'Maria', 'city': 'Ma...",None
Tetuán,"Calle de Orense, 32, 28020, Madrid","{'standard': {'stnumber': '33', 'addresst': 'C...",None
Chamberí,"Avenida de Filipinas, 7, 28003 Madrid","{'standard': {'stnumber': '7', 'addresst': 'Av...",None
Fuencarral-El Pardo,"Calle de Fermín Caballero, 27, 28034, Madrid","{'success': False, 'error': {'code': '006', 'm...","{'standard': {'addresst': {}, 'city': 'See', '..."
Moncloa,"Calle Poleo, 35, 28023, Madrid","{'success': False, 'error': {'code': '006', 'm...","{'standard': {'addresst': {}, 'city': 'See', '..."
Latina,"Paseo de Extremadura, 129, 28011, Madrid","{'success': False, 'error': {'code': '006', 'm...","{'standard': {'addresst': {}, 'city': 'See', '..."
Carabanchel,"Avenida de Abrantes, 78, 28025, Madrid","{'standard': {'stnumber': '52', 'addresst': 'A...",None
Usera,"Calle Cristo de la Victoria, 78, 28026, Madrid","{'success': False, 'error': {'code': '006', 'm...","{'success': False, 'error': {'code': '006', 'm..."
Puente de Vallecas,"Avenida de Buenos Aires, 7, 28018, Madrid","{'success': False, 'error': {'code': '006', 'm...","{'standard': {'addresst': {}, 'city': 'See', '..."
Moratalaz,"Calle Molina de Segura, 17, 28030, Madrid","{'standard': {'stnumber': '31', 'addresst': 'M...",None
Ciudad Lineal,"Calle de Alcalá, 242, 28027, Madrid","{'standard': {'addresst': '28027', 'city': 'Ma...",None
Hortaleza,"Calle Minaya, 6, 28043 Madrid","{'success': False, 'error': {'code': '006', 'm...","{'success': False, 'error': {'code': '006', 'm..."
Villaverde,"Calle de la Resina, 10, 28021, Madrid",{'standard': {'addresst': 'Calle De La Resina'...,None
Villa de Vallecas,"Avenida de las Suertes, 70, 28051, Madrid",{'standard': {'addresst': 'Avenida De Las Suer...,None
Vicálvaro,"Avenida de la Gran Vía del Este, 20, 28032, Ma...","{'standard': {'stnumber': '80', 'addresst': 'A...",None
San Blas,"Calle de Julián Camarillo, 29, 28037, Madrid","{'success': False, 'error': {'code': '006', 'm...","{'success': False, 'error': {'code': '006', 'm..."
Barajas,"Avenida de Logroño, 223, 28042, Madrid","{'standard': {'stnumber': '179', 'addresst': '...",None

In [20]:
offices_df['birequest'] = offices_df.request.apply(Birequest)

In [21]:
offices_df

,adress,request,Birequest
Centro,"Calle de Preciados, 27, 28013, Madrid","{'standard': {'stnumber': '27', 'addresst': 'P...",None
Arganzuela,"Paseo de la Chopera, 2, 28045, Madrid","{'success': False, 'error': {'code': '006', 'm...","{'standard': {'addresst': {}, 'city': 'See', '..."
Retiro,"Calle de O'Donnell, 37, 28009, Madrid","{'standard': {'stnumber': '37', 'addresst': 'C...",None
Salamanca,"Calle Serrano, 52, 28001, Madrid","{'standard': {'stnumber': '52', 'addresst': 'C...",None
Chamartín,"Calle Sta. María Magdalena, 9, 28016, Madrid","{'standard': {'addresst': 'Maria', 'city': 'Ma...",None
Tetuán,"Calle de Orense, 32, 28020, Madrid","{'standard': {'stnumber': '33', 'addresst': 'C...",None
Chamberí,"Avenida de Filipinas, 7, 28003 Madrid","{'standard': {'stnumber': '7', 'addresst': 'Av...",None
Fuencarral-El Pardo,"Calle de Fermín Caballero, 27, 28034, Madrid","{'success': False, 'error': {'code': '006', 'm...","{'standard': {'addresst': {}, 'city': 'See', '..."
Moncloa,"Calle Poleo, 35, 28023, Madrid","{'success': False, 'error': {'code': '006', 'm...","{'standard': {'addresst': {}, 'city': 'See', '..."
Latina,"Paseo de Extremadura, 129, 28011, Madrid","{'success': False, 'error': {'code': '006', 'm...","{'standard': {'addresst': {}, 'city': 'See', '..."
Carabanchel,"Avenida de Abrantes, 78, 28025, Madrid","{'standard': {'stnumber': '52', 'addresst': 'A...",None
Usera,"Calle Cristo de la Victoria, 78, 28026, Madrid","{'success': False, 'error': {'code': '006', 'm...","{'success': False, 'error': {'code': '006', 'm..."
Puente de Vallecas,"Avenida de Buenos Aires, 7, 28018, Madrid","{'success': False, 'error': {'code': '006', 'm...","{'standard': {'addresst': {}, 'city': 'See', '..."
Moratalaz,"Calle Molina de Segura, 17, 28030, Madrid","{'standard': {'stnumber': '31', 'addresst': 'M...",None
Ciudad Lineal,"Calle de Alcalá, 242, 28027, Madrid","{'standard': {'addresst': '28027', 'city': 'Ma...",None
Hortaleza,"Calle Minaya, 6, 28043 Madrid","{'success': False, 'error': {'code': '006', 'm...","{'success': False, 'error': {'code': '006', 'm..."
Villaverde,"Calle de la Resina, 10, 28021, Madrid",{'standard': {'addresst': 'Calle De La Resina'...,None
Villa de Vallecas,"Avenida de las Suertes, 70, 28051, Madrid",{'standard': {'addresst': 'Avenida De Las Suer...,None
Vicálvaro,"Avenida de la Gran Vía del Este, 20, 28032, Ma...","{'standard': {'stnumber': '80', 'addresst': 'A...",None
San Blas,"Calle de Julián Camarillo, 29, 28037, Madrid","{'success': False, 'error': {'code': '006', 'm...","{'success': False, 'error': {'code': '006', 'm..."
Barajas,"Avenida de Logroño, 223, 28042, Madrid","{'standard': {'stnumber': '179', 'addresst': '...",None

In [ ]:
Calle Cristo de la Victoria, 78, 28026, Madrid

In [27]:
geocode('Calle Cristo de la Victoria, 78, 28026, Madrid')

{'standard': {'stnumber': '149',
  'addresst': 'Calle Cristo de la Victoria',
  'postal': '28026',
  'region': 'Comunidad de Madrid',
  'prov': 'ES',
  'city': 'Madrid',
  'countryname': 'Spain',
  'confidence': '0.9'},
 'longt': '-3.70504',
 'alt': {},
 'elevation': {},
 'latt': '40.37942'}

In [28]:
def regroup(col): 
    if offices_df['birequest'] == None:
        offices_df['request'] == offices_df['request']
    elif offices_df['birequest'] != None:
        if 'success' in col:
            return geocode(col)
        else:
            offices_df['request'] == offices_df['request']

In [29]:
offices_df['Bibirequest'] = offices_df.request.apply(regroup)

KeyError: 'birequest'